# ignore the following files/directories...
lang/*
options/*
site/*
temp/*
templates/*
config.php

# ...except the following files
!lang/de.php
!options/example.php
!site/readme.txt
!temp/readme.txt
!templates/example.html
